<ion-header>

  <ion-navbar color="roxo">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>subcategoria</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p *ngIf="subcategorias == 0">Nenhuma subcategoria cadastrada...</p>

  <div class="container">

    <div class="box">

      <ion-list>
        <ion-item-sliding *ngFor="let subcategoria of subcategorias">
          <ion-item>
            <h2>{{subcategoria.subcategoria}}</h2>
          </ion-item>
          <ion-item-options side="rigth">
            <button ion-button color="verde_institucional" (click)="editarSubcategoria(subcategoria)">
              <ion-icon name="create"></ion-icon>
              Editar
            </button>
            <button ion-button color="danger">
              <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
              Excluir
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>


      <ion-fab right bottom>
        <button ion-fab (click)="novaSubcategoria()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </div>

  </div>

</ion-content>
